.DS_Store
*.log
temp.json

node_modules/
dist/
.env
.env.*

server/node_modules/
server/dist/

points-calculator/node_modules/
points-calculator/dist/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
